<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy1AP6zGauC-ytoyMnQviJ7CLHprGa9RA</string>
	<key>GCM_SENDER_ID</key>
	<string>796963934857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivansaul.AuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>authfirebaseswiftuicomponents</string>
	<key>STORAGE_BUCKET</key>
	<string>authfirebaseswiftuicomponents.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796963934857:ios:fc0e36e593b54016462c58</string>
</dict>
</plist>